body.theme-changed #header {
    background: url('./green-paint-brush-textured-background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}


body.theme-changed .work img {
    filter: invert(0);
}

body.theme-changed .services-list div {
    background: #BBC6C8;
}


body.theme-changed .bxs-balloon {
    color: white;
}

body.theme-changed .primary-btn {
    color: white;
}

body.theme-changed .copyright a:hover {
    color: rgb(255, 63, 63);
}


body.theme-changed .tab-contents ul li:first-child {
    color: rgb(8, 70, 255);

}

body.theme-changed .tab-contents ul li:nth-child(2) {
    color: rgb(241, 47, 255);
}

body.theme-changed .tab-contents ul li:nth-child(3) {
    color: rgb(255, 47, 47);
}

body.theme-changed .tab-contents ul li:last-child {
    color: rgb(0, 0, 0);
}